
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FizzBuzz</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <h1> Exercise 1 - FizzBuzz </h1>
    <div> 
        <ul style ="list-style:none;">

        @for (int @i = 1; i < 101; i ++)
        {
            if((i % 3 == 0) && (i % 5 == 0))
            {
                <li id="FB"> FizzBuzz! </li>
            }
            else if(i % 3 == 0)
            {
                <li id="F">Fizz!</li>
            }
            else if(i % 5 == 0)
            {
                <li id="B">Buzz!</li>
            }
            else
            {
                <li>@i</li>
            }
        }
        </ul>
    </div>
</body>
</html>
