body {
}
html {
    font: 96px Courier;
    color: white;
}

.box {
    padding: 50px;
    width: 70px;
}

.odd {
    background-color: #ee3e64;
}

.even {
    background-color: #44accf;
}

#box_0 {
    position: relative;
    left: 500px;
}

#box_1 {
    position: relative;
    left: 415px;
}

#box_2 {
    position: relative;
    left: 585px;
    bottom: 210px;
}

#box_3 {
    position: relative;
    left: 330px;
    bottom: 210px;
}

#box_4 {
    position: relative;
    left: 500px;
    bottom: 420px;
}

#box_5 {
    position: relative;
    left: 670px;
    bottom: 630px;
}

#box_6 {
    position: relative;
    left: 245px;
    bottom: 630px;
}

#box_7 {
    position: relative;
    left: 415px;
    bottom: 840px;
}

#box_8 {
    position: relative;
    left: 585px;
    bottom: 1050px;
}

#box_9 {
    position: relative;
    left: 745px;
    bottom: 1260px;
}


