@using Exercises.Models;

@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <h1><font size="75">Toy Department</font></h1>
<div class="tableDiv">

        <table class="center">
            <tr class="odd">
                <td class="RowName"></td>
                @foreach (Product product in Model)
                {
                    <td><a href="/Product/Detail/@product.ProductId">
                       <img src="~/Content/images/@product.ImageName" />
                    </a></td>
                    }
</tr>
            <tr class="odd">
                    <td class="RowName"></td>
                    @foreach (Product product in Model)
                    {
                        if(product.IsTopSeller)
                        {
                        <td>BEST SELLER!</td>
                        }
                    }
          </tr>

                <tr class="even">
                    <td class="RowName">Name</td>
                    @foreach (Product product in Model)
                    {
                        <td>
                            @product.Name
                        </td>}
                </tr>

                <tr class="odd">
                    <td class="RowName">Rating</td>
                    @foreach (Product product in Model)
                    {
                        if (product.AverageRating < 2)
                        {
                            <td><img src="~/Content/images/1-star.png" class="star1"/></td>
                        }
                        if (product.AverageRating >= 2 && product.AverageRating < 3)
                        {
                            <td><img src="~/Content/images/2-star.png" class="star1"/></td> }
                        if (product.AverageRating >= 3 && product.AverageRating < 4)
                        {
                            <td><img src="~/Content/images/3-star.png" class="star1"/></td>
                        }
                        if (product.AverageRating >= 4 && product.AverageRating < 5)
                        {
                            <td><img src="~/Content/images/4-star.png" class="star1" /></td>
                        }
                        if (product.AverageRating == 5)
                        {
                            <td><img src="~/Content/images/5-star.png" class="star1" /></td>
                        }
                    }
                </tr>
                <tr class="even">
                    <td class="RowName">Mfr</td>
                    @foreach (Product product in Model)
                    {
                        <td>
                            @product.Manufacturer
                        </td>
                    }
                </tr>

                <tr class="odd">
                    <td class="RowName">Price</td>
                    @foreach (Product product in Model)
                    {
                        <td>
                            $@product.Price
                        </td>
                    }
                </tr>
                <tr class="even">
                    <td class="RowName">Wt.(inlbs)</td>
                    @foreach (Product product in Model)
                    {
                        <td>
                            @product.WeightIbLbs
                        </td>
                    }
                </tr>
            </table>
</div>





