<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>@Html.ActionLink("Order Name", "OrderName", "Home")</p>
    <p>@Html.ActionLink("Colorized Name", "ColorizedName", "Home")</p>

    <div>
        @RenderBody()
    </div>
</body>
</html>