@using Exercises.Web.Models;
@model OrderNameModel
@{
    ViewBag.Title = "Order Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ordered Name</h2>
<p>First Name: @Model.FirstName</p>
<p>Middle Initial: @Model.MiddleInitial</p>
<p>Last Name: @Model.LastName</p>
<br/>
<p>Ordered: @Model.NameOrdered()</p>