@using Exercises.Web.Models;
@model SquirrelCigarPartyModel
@{
    ViewBag.Title = "Squirrel Cigar Party";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Squirrel Cigar Party</h2>
<img src="~/Content/smoking-squirrel.png"/>
@using (Html.BeginForm("SquirrelCigarPartyResult", "Home", FormMethod.Get))
{
    <div>
        @Html.Label("numberOfSquirrels", "Number of Squirrels: ")
        @Html.TextBoxFor(m => m.NumberOfSquirrels)
    </div>
    <div>
        @Html.CheckBoxFor(m => m.IsWeekend) Is the weekend?
    </div>
    <button>Submit</button>
}